<div class='row'>
	<div class='col border border-dark'>
		<h1>Register</h1>
		<form action='/users' method='post'>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class='form-group'>
				<label for='first_name'>first name:</label>
				<input type='text' id='first_name' name='user[first_name]'>
			</div>
			<div class='form-group'>
				<label for='last_name'>last name:</label>
				<input type='text' id='last_name' name='user[last_name]'>
			</div>
			<div class='form-group'>
				<label for='email'>email:</label>
				<input type='text' id='email' name='user[email]'>
			</div>
			<div class='form-group'>
				<label for='password'>Password:</label>
				<input type='text' id='password' name='user[password]'>
			</div>
			<div class='form-group'>
				<label for='password_confirmation'>password confirmion:</label>
				<input type='text' id='password_confirmation' name='user[password_confirmation]'>
			</div>
			<button type='submit'>submit</button>
		</form>
	</div>
	<div class='col border border-dark'>
		<h1>Log in</h1>
		<form action='/sessions' method='post'>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<div class='form-group'>
				<label for='email'>Email:</label>
				<input type='text' id='email' name='email' value='test@gmail.com'>
			</div>
			<div class='form-group'>
				<label for='password'>Password:</label>
				<input type='text' id='password' name='password' value='test'>
			</div>
			<button type='submit'>submit</button>
		</form>
	</div>
</div>